.card-list .card {
    flex: 0 0 33%;
    margin-top: 2%;
    margin-left: 30% !important;
    margin-right: 30% !important;
    padding: 25px;
    background-color: rgb(103, 103, 165);
    border-radius: 39px;
    cursor: pointer;
    text-align: center;
  }
  .card-list {
    /* display: flex; */
    justify-content: center;
  }
  .text{
      text-align: left;
  }